In [2]:
# operadores no tan conocidos
print(2**5)
print(5%2)

32
1

In [18]:
# esta no es una manera "formal" de imprimir valores
"helou"

'helou'

In [19]:
print("holaa")

holaa

In [14]:
# forma de concatenar
age = 23
name = "Sebastian Grandes"

print("Mi nombre es {} y tengo {} a単os".format(name, age))

Mi nombre es Sebastian Grandes y tengo 23 a単os

In [8]:
# forma de concatenar igualito
print("Mi nombre es {uno} y tengo {dos} a単os".format(uno="Andrea", dos="23"))

Mi nombre es Andrea y tengo 23 a単os

In [13]:
# extraccion de strings
s = "Sebastian Andre Grandes Conqui"
print(s[0])
print(s[10:])
print(s[:])
print(s[:9])
print(s[10:16])

S
Andre Grandes Conqui
Sebastian Andre Grandes Conqui
Sebastian
Andre

In [23]:
# Esta es una lista, basicamente un array de js
lista = [1,2,["Sebastian", "Andre"], 3, 4, 5]
print(lista)
print(lista[2])
print(lista[2][1])

[1, 2, ['Sebastian', 'Andre'], 3, 4, 5]
['Sebastian', 'Andre']
Andre

In [24]:
## reemplazando un valor a la lista
lista[1] = "Andrea"
print(lista)

[1, 'Andrea', ['Sebastian', 'Andre'], 3, 4, 5]

In [25]:
## insertando un valor a la lista
lista.append("Lino")
print(lista)

[1, 'Andrea', ['Sebastian', 'Andre'], 3, 4, 5, 'Lino']

In [26]:
lista.insert(0, "Katherine")
lista.insert(2, "Andre")
print(lista)

['Katherine', 1, 'Andre', 'Andrea', ['Sebastian', 'Andre'], 3, 4, 5, 'Lino']